<h1>{{ title }}</h1>
<h2>Collections</h2>
{% for id, coll in collections %}
<h3>{{ coll.title }}</h3>
{% if coll.length %}
<ul>
{% for item in coll -%}
  <li><a href="{{ item.permalink }}">{{ item.title }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endfor %}